body { /* Comment */
    background-color: #3b3b3b;
}
.container {
    vertical-align: middle;
    padding: 16px;
    border-radius: 20px;
    min-height: 80vh;
    max-width: 1080px;
    margin: 0 auto;
    background-color: #0c1454;
}

.header {
    color: #dce3e8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title {
    margin: 0 auto;
    padding-top: 32px;
    padding-left: 32px;
    color: #b87208;
}

.line {
    background-color: #b87208;
    border: 1px solid #b87208;
    border-radius: 2px;
    margin-left: 32px;
    text-align:left;
    max-width: 128px;
    max-height: 1px;
}
.description {
    display: flex;
    padding-left: 32px;
    color: #dce3e8;
    max-width: 600px;
    padding-bottom: 25px;
}

@media (min-height: 256px), screen and (orientation: portrait) {
.image {
    border-radius: 20px;
    width: 384px; 
    height: 256px; 
    margin-top: -15vh; 
    margin-left: 40vh;
}
}